[Desktop Entry]
Icon=application-x-shellscript
Name=09-reraid-shenanigans.sh
Type=Link
URL[$e]=file:///media/MindenMas/stuff/slack/dev/runit/runit_scripts-0.2-i486-reraid/etc/runit/core-services/09-reraid-shenanigans.sh
X-KDE-LastOpenedWith=code-oss
