[Desktop Entry]
Icon=application-x-shellscript
Name=run
Type=Link
URL[$e]=file:///media/MindenMas/stuff/slack/dev/acpid/acpid_runit-1.0-noarch-reraid/etc/sv/acpid/run
X-KDE-LastOpenedWith=code-oss
