[Desktop Entry]
Icon=application-x-shellscript
Name=run
Type=Link
URL[$e]=file:///media/MindenMas/stuff/slack/dev/ntpd/ntp_runit-1.0-noarch-reraid/etc/sv/ntpd/log/run
X-KDE-LastOpenedWith=code-oss
