[Desktop Entry]
Icon=application-x-xz-compressed-tar
Name=runit_scripts-0.2-i486-reraid.txz
Type=Link
URL[$e]=file:///media/MindenMas/stuff/slack/ReRAID/reraid_essentials/init-x86/runit_scripts-0.2-i486-reraid.txz
X-KDE-LastOpenedWith=org.kde.ark
